.btn {
    margin-left: auto;
}


/* mat-toolbar {
    position: fixed;

} */


/* .container-fluid {
    padding: 0;
    margin: 0;
} */

.navbar {
    float: left;
    font-size: 16px;
    color: white;
    text-align: end;
    text-decoration: none;
    width: 100%;
    /* opacity: 0.6; */
    box-sizing: border-box;
    padding: 0 0 0 0;
    margin: -13px 0 0px 0;
}

.logo {
    height: auto;
    width: 46%;
    position: relative;
    right: 70px;
    top: 25px;
}

ul {
    padding: 0;
    list-style: none;
    padding-top: 20px;
}

ul li {
    display: inline-block;
    position: relative;
    /* line-height: 21px; */
    text-align: left;
}

ul li a {
    display: block;
    padding: 8px 25px;
    color: #333;
    text-decoration: none;
    width: max-content;
    font-weight: 900;
    color: white;
}

ul li a:hover {
    text-decoration: none;
    width: auto;
    background-color: aliceblue;
    color: blue;
}

ul li ul.dropdown {
    min-width: 100%;
    /* Set width of the dropdown */
    background: #4054b5;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
    font-size: 16px;
    border: none;
    outline: none;
    font-weight: 900;
}

ul li:hover ul.dropdown {
    display: block;
}

ul li ul.dropdown li {
    display: block;
}