<mat-toolbar color="primary">
    <mat-toolbar-row>
        <!-- <button mat-raised-button [routerLink]="['/']">
        <mat-icon aria-hidden="false" aria-label="Example home icon" >home</mat-icon> Home
      </button> -->

        <!-- <button mat-raised-button [routerLink]="['/signin']">
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon> Sign In
      </button> -->


        <nav class="navbar">
            <div class="row">
                <div class="container-fluid">
                    <!-- <div class="navbar-header">
                    <a class="navbar-brand" href="#">WebSiteName</a>
                </div> -->
                    <div class="col-sm-2">
                        <img src="../assets/images/w3villa.png" class="logo">

                    </div>
                    <div class="col-sm-10">
                        <ul>
                            <li><a href="" [routerLink]="['/']">HOME</a></li>
                            <li><a href="#">ABOUT US</a></li>
                            <li>
                                <a href="#">COURSES</a>
                                <ul class="dropdown">
                                    <li><a href="" [routerLink]="['/php']">PHP</a></li>
                                    <li><a href="#">JAVA</a></li>
                                    <li><a href="#">C++</a></li>
                                    <li><a href="#">ANGULAR</a></li>
                                </ul>
                            </li>
                            <li><a href="#">CONTACT US</a></li>


                        </ul>
                    </div>
                </div>
            </div>
        </nav>



        <!-- <button mat-raised-button [routerLink]="['/']" class="btn">
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon> HOME
        </button> -->

    </mat-toolbar-row>
</mat-toolbar>