<app-header>
</app-header>

<mat-card class="container">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h4>What is PHP ?</h4>
                </mat-panel-title>
            </mat-expansion-panel-header>


            <p class="para-1 ">The term PHP is an acronym for PHP: Hypertext Preprocessor. PHP is a k.com, www.yahoo.com are also built on PHP. One of the main reason behind this is that PHP can be easily embedded in HTML files and HTML codes can also be written in a PHP
                file. The thing that differentiates PHP with client-side language like HTML is, PHP codes are executed on server whereas HTML codes are directly rendered on the browser. PHP codes are first executed on the server and then the result is
                returned to the browser. The only information that the client or browser knows is the result returned after executing the PHP script on the server and not the actual PHP codes present in the PHP file. Also, PHP files can support other
                client-side scripting languages like CSS and JavaScript. PHP can actually do anything related to server-side scripting or more popularly known as the backend of a website. For example, PHP can receive data from forms, generate dynamic
                page content, can work with databases, create sessions, send and receive cookies, send emails etc. There are also many hash functions available in PHP to encrypt user’s data that makes PHP secure and reliable to be used as a server-side
                scripting language. So these are some of the abilities of PHP that makes it suitable to be used as server-side scripting language. You will get to know more of these abilities in further tutorials.
            </p>

        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h4>PHP - Introduction</h4>
                </mat-panel-title>

            </mat-expansion-panel-header>
            <p class="para-1 ">The term PHP is an acronym for PHP: Hypertext Preprocessor. PHP is a k.com, www.yahoo.com are also built on PHP. One of the main reason behind this is that PHP can be easily embedded in HTML files and HTML codes can also be written in a PHP
                file. The thing that differentiates PHP with client-side language like HTML is, PHP codes are executed on server whereas HTML codes are directly rendered on the browser. PHP codes are first executed on the server and then the result is
                returned to the browser. The only information that the client or browser knows is the result returned after executing the PHP script on the server and not the actual PHP codes present in the PHP file. Also, PHP files can support other
                client-side scripting languages like CSS and JavaScript. PHP can actually do anything related to server-side scripting or more popularly known as the backend of a website. For example, PHP can receive data from forms, generate dynamic
                page content, can work with databases, create sessions, send and receive cookies, send emails etc. There are also many hash functions available in PHP to encrypt user’s data that makes PHP secure and reliable to be used as a server-side
                scripting language. So these are some of the abilities of PHP that makes it suitable to be used as server-side scripting language. You will get to know more of these abilities in further tutorials.
            </p>

        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h4>Why use of PHP ?</h4>
                </mat-panel-title>
            </mat-expansion-panel-header>


            <p class="para-1 ">The term PHP is an acronym for PHP: Hypertext Preprocessor. PHP is a k.com, www.yahoo.com are also built on PHP. One of the main reason behind this is that PHP can be easily embedded in HTML files and HTML codes can also be written in a PHP
                file. The thing that differentiates PHP with client-side language like HTML is, PHP codes are executed on server whereas HTML codes are directly rendered on the browser. PHP codes are first executed on the server and then the result is
                returned to the browser. The only information that the client or browser knows is the result returned after executing the PHP script on the server and not the actual PHP codes present in the PHP file. Also, PHP files can support other
                client-side scripting languages like CSS and JavaScript. PHP can actually do anything related to server-side scripting or more popularly known as the backend of a website. For example, PHP can receive data from forms, generate dynamic
                page content, can work with databases, create sessions, send and receive cookies, send emails etc. There are also many hash functions available in PHP to encrypt user’s data that makes PHP secure and reliable to be used as a server-side
                scripting language. So these are some of the abilities of PHP that makes it suitable to be used as server-side scripting language. You will get to know more of these abilities in further tutorials.
            </p>

        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h4>Use of PHP ? </h4>
                </mat-panel-title>
            </mat-expansion-panel-header>


            <p class="para-1 ">The term PHP is an acronym for PHP: Hypertext Preprocessor. PHP is a k.com, www.yahoo.com are also built on PHP. One of the main reason behind this is that PHP can be easily embedded in HTML files and HTML codes can also be written in a PHP
                file. The thing that differentiates PHP with client-side language like HTML is, PHP codes are executed on server whereas HTML codes are directly rendered on the browser. PHP codes are first executed on the server and then the result is
                returned to the browser. The only information that the client or browser knows is the result returned after executing the PHP script on the server and not the actual PHP codes present in the PHP file. Also, PHP files can support other
                client-side scripting languages like CSS and JavaScript. PHP can actually do anything related to server-side scripting or more popularly known as the backend of a website. For example, PHP can receive data from forms, generate dynamic
                page content, can work with databases, create sessions, send and receive cookies, send emails etc. There are also many hash functions available in PHP to encrypt user’s data that makes PHP secure and reliable to be used as a server-side
                scripting language. So these are some of the abilities of PHP that makes it suitable to be used as server-side scripting language. You will get to know more of these abilities in further tutorials.
            </p>

        </mat-expansion-panel>
    </mat-accordion>


    <!-- <button mat-raised-button color="accent" [routerLink]="['/']" class="btn btn-success align-left">Return to home</button> -->
    <!-- <span class="">  <a href="" [routerLink]="['/signin']">Sign-In</a></span> -->



</mat-card>