<mat-card class="container">
    <h2 class="heading">CHANGE-PASSWORD</h2>
    <form class="signin-form">
        <mat-form-field>
            <input matInput placeholder="Email">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="New Password">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Re-Password">
        </mat-form-field>



        <button mat-raised-button [routerLink]="['/signin']" color="accent" class="btn-1 btn-success align-left">Save</button>
        <!-- <span class="space">If you have account?<a href="" [routerLink]="['/signin']">Sing In</a></span> -->




    </form>
</mat-card>