.table {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 190px auto;
}

.container>* {
    width: 100%;
}

mat-form-field {
    width: 100%;
}

.signin-form {
    padding: 0px 0 60px 0;
}

.heading {
    font-weight: 900;
    padding: 60px 0 60px 0;
}

.btn-2 {
    position: relative;
    position: relative;
    left: 440px;
}

.space {
    position: relative;
    left: 420px;
}