<app-header></app-header>
<mat-card class="container">
    <h2 class="heading">SIGN-UP</h2>
    <!-- <hr class="heading-hr"> -->
    <form class="signup-form" (submit)="doSignUp(user)">

        <mat-form-field>
            <input matInput placeholder="First Name" name="firstname" [(ngModel)]="user.first_name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Last Name" name="last name" [(ngModel)]="user.last_name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Mobile Number" name="number" [(ngModel)]="user.mobile_number">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Email" name="email" [(ngModel)]="user.email">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Password" name="password" [(ngModel)]="user.password">
        </mat-form-field>

        <button mat-raised-button color="accent" class="btn btn-success align-left">SUBMIT</button>
        <span class=""> Already have an account ? <a href="" [routerLink]="['/signin']">Sign-In</a></span>


    </form>
</mat-card>