<!-- <section class="ptb-100 footer-sec">
    <div class="row">
        <div class="col-sm-3 sec-paragraph">
            <h1>Lorem Ipsum</h1>
            <p class="para">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or- less normal distribution of letters, as opposed to using
                'Content here, content here', making it look like readable English.</p>
        </div>
        <div class="col-sm-2 list-footer">
            <div class="footer">
                <h3 class="usefull-links">USEFUL LINKS</h3>
                <ul class="list-items">
                    <li><a href="#home">HOME</a></li>
                    <li><a href="#about-us">ABOUT US</a></li>
                    <li><a href="#portfolio">COURSE</a></li>
                    <li><a href="#contact">CONTACT US</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-2">
            <h3 class="contact">CONTACT US</h3>
            <div class="address">
                <p>Ground Floor, 118/362, A Block,</p>
                <p>Kanpur 208012 (U.P.)</p>
                <p>Phone: 09129639666</p>
                <p>Email: w3villa@gmail.com</p>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="social-links">
                <h3 class="follow-us">FOLLOW US</h3>
                <div class="icons">
                    <a href="https://www.facebook.com/" class="facebook"><img src="../assets/images/facebook.png" height="40px" width="40px"></a>
                    <a href="https://twitter.com/" class="twitter"><img src="../assets/images/twitter.png" height="40px" width="40px"></a>
                    <a href="https://www.instagram.com/" class="twitter"><img src="../assets/images/instagram.png" height="40px" width="40px"></a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="map-responsive">
                <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=Eiffel+Tower+Paris+France" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="pt-20 row">
            <div class="copyright">
                <p class="copy">Copyright © 2014-19 W3villa Technologies Pvt. Ltd. All Rights Reserved W3villa Technologies Rated 4.6/5 based on 143 reviews at glassdoor
                </p>
            </div>
        </div>
    </div>

</section> -->